@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.7s ease-in-out;
  }
  .slider-container img {
    width: 1000px;
    height: 100%;
    object-fit: cover;
    padding: 20px;
    transition: 1s all ease;
  }
  .slider-container img:hover{
    transform: scale(1.1); 
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  /* ads */
  h2{
    text-align: center;
  }
  .ads-container{
    box-sizing: border-box;
    height: 650px;
    display: flex;
    justify-content: space-between;
  }
  .left-side{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 70%;
    padding: 0;
    margin: 40px 0 0 40px;
    transition: 2s all ease;
  }
  
  .left-side:hover{
    width: 100%;
    background-color: #30363b;
  }
  .left-side img{
    width: 800px;
    height: 600px;
    object-fit: cover;
  }
  .ads-container .right-side{
    display: flex;
    flex-direction:column ;
    justify-content: flex-start;
    width: 40%;
  }
  .right-side img{
    width: 90%;
    height: 280px;
    object-fit: cover;
    transition: 2s all ease;
  }
  .right-txt,
  .txt-1, 
  .txt-2{
    margin-left: 80px;
  }
  .right-side img:hover{
    margin-left: -60px;
  }
  .ads-container h3{
    color: #000;
    background-color: #f6f6f6;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 10px;
   }
   .ads-container a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    font-size: 24px;
   }
  .ads-container a:hover{
    background-color: #30363b;
    font-weight: 700;
    transition: all .4s ease;
  }
  .ads-container h3:hover{
    background-color: #000;
    color: #f6f6f6;
    transition: all .6s ease;
  }
  /* ads end */
  /* section start */
  .section-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
  }
  .male-section, .female-section, .kids-section{
    margin: 20px;
  }
  .section-container img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-left: 30px;
    transition: all 1s ease;
  }
  .section-container img:hover{
    transform: scale(1.1);
    border-radius: 10px;
  }
  .section-container h3{
    color: #dedede;
    margin-bottom: 10px;
  }
  .section-container a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
  }
  .text-container{
    position: absolute;
    top: 2200px;
    margin-left: 50px;
  }
  .text-container a:hover{
    background-color: #30363b;
    font-weight: 700;
    transition: all .2s ease;
  }
  .text-container h3:hover{
    background-color: #fff;
    color: #30363b;
    transition: all .3s ease;
  }

  #txt-category{
    text-align:left; 
    margin:40px 950px 40px 40px;
    font-weight: 700;
    font-size:36px; 
    color: #f6f6f6; 
    background-color: #212529;
  }