@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,body{
    width: 100%;
    height: 1024px;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
    background-color: #212529;
    list-style: none;
    height: 10vh;
}
nav ul .nav-left{
    padding: 0 0 0 0;
    margin: -10px;
}
nav ul .nav-left img{
    padding: 0;
    margin-left: 20px;
    width: 30%;
}
nav ul .nav-right a{
    text-align: right;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
}
nav .nav-left,
.nav-right{
    width: 50%;
}
nav ul .nav-right{
    margin: 30px 10px 0 0;
    text-align: end;
}